.image1,
.right-image-background {
  height: 537px;
  width: 1516px;
  position: absolute;
  margin: 0 !important;
  top: -89px;
  right: -536px;
  background-color: var(--color-red-200);
}
.image1 {
  height: 482px;
  width: 944px;
  top: -144px;
  right: -540px;
  background-color: var(--color-gainsboro-200);
  z-index: 1;
}
.about-us1,
.crafting-success-stories {
  width: 125px;
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.crafting-success-stories {
  margin: 0;
  width: 762px;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  flex-shrink: 0;
  max-width: 100%;
}
.right-about-heading,
.right-about-subtitle {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.right-about-subtitle {
  flex-direction: row;
  justify-content: flex-end;
  font-size: var(--font-size-30xl);
  color: var(--color-darkslategray-200);
}
.right-about-heading {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-sm);
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
  font-family: var(--font-poppins);
}
.empty,
.where-innovation-meets4 {
  position: relative;
  display: inline-block;
}
.where-innovation-meets4 {
  margin: 0;
  width: 780px;
  line-height: 31px;
  font-family: var(--font-rubik);
  color: var(--color-darkgray-300);
  max-width: 100%;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.empty {
  font-weight: 800;
  min-width: 124px;
}
.placeholder {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.our-section-about2 {
  margin: 0;
  width: 286px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.our-section-about-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-8xs);
}
.where-innovation-meets5 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 31px;
  font-family: var(--font-rubik);
  color: var(--color-darkgray-300);
}
.frame-div {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  max-width: 100%;
}
.happy-clients2 {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.happy-clients-wrapper {
  width: 118px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-mini);
  font-family: var(--font-montserrat);
}
.frame-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  margin-top: -1px;
  font-size: var(--font-size-5xl);
  color: var(--color-red-200);
  font-family: var(--font-poppins);
}
.duplicate-content,
.placeholder-parent {
  font-size: var(--font-size-13xl);
  color: var(--color-darkslategray-200);
}
.placeholder-parent {
  width: 627px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.duplicate-content {
  right: -483px;
  bottom: 241px;
  font-weight: 800;
  min-width: 124px;
}
.duplicate-content,
.happy-clients3,
.join-us-on2 {
  margin: 0 !important;
  position: absolute;
  display: inline-block;
}
.happy-clients3 {
  width: 118px;
  right: -40px;
  bottom: 216px;
  font-size: var(--font-size-mini);
  font-weight: 600;
}
.join-us-on2 {
  width: 279px;
  height: 56px;
  right: -46px;
  bottom: 128px;
  line-height: 31px;
  font-family: var(--font-rubik);
  color: var(--color-darkgray-300);
}
.left-about1,
.right-about-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
  flex-shrink: 0;
}
.left-about1 {
  flex: 1;
  box-shadow: 0 3px 32px 1px rgba(0, 0, 0, 0.04);
  background-color: var(--color-white);
  flex-direction: column;
  padding: var(--padding-78xl) 0 var(--padding-106xl) var(--padding-90xl);
  box-sizing: border-box;
  gap: var(--gap-3xl);
  debug_commit: 69da668;
  z-index: 2;
}
.right-about-container {
  width: 980px;
  flex-direction: row;
}
.explore-our-comprehensive {
  margin: 0;
  align-self: stretch;
  height: 139px;
  position: relative;
  line-height: 48px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 69da668;
}
.right-about-container-parent,
.solution-description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.solution-description {
  width: 462px;
  flex-direction: column;
  padding: var(--padding-489xl) 0 0;
  flex-shrink: 0;
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-poppins);
}
.right-about-container-parent {
  width: 1741px;
  flex-direction: row;
  padding: 0 0 var(--padding-209xl) var(--padding-xl);
  gap: var(--gap-631xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-red-200);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1825px) {
  .right-about-container-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .left-about1 {
    padding-left: var(--padding-35xl);
    box-sizing: border-box;
  }
  .right-about-container-parent {
    gap: var(--gap-306xl);
    padding-bottom: var(--padding-129xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .crafting-success-stories {
    font-size: var(--font-size-20xl);
  }
  .empty {
    font-size: var(--font-size-7xl);
  }
  .frame-container {
    flex-wrap: wrap;
  }
  .duplicate-content {
    font-size: var(--font-size-7xl);
  }
  .left-about1 {
    padding-left: var(--padding-8xl);
    padding-top: var(--padding-44xl);
    padding-bottom: var(--padding-62xl);
    box-sizing: border-box;
  }
  .solution-description {
    padding-top: var(--padding-311xl);
    box-sizing: border-box;
  }
  .right-about-container-parent {
    gap: var(--gap-143xl);
    padding-bottom: var(--padding-77xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .about-us1 {
    font-size: var(--font-size-lgi);
  }
  .crafting-success-stories {
    font-size: var(--font-size-10xl);
  }
  .duplicate-content,
  .empty,
  .our-section-about2 {
    font-size: var(--font-size-lgi);
  }
  .explore-our-comprehensive {
    font-size: var(--font-size-base);
    line-height: 38px;
  }
  .right-about-container-parent {
    gap: var(--gap-62xl);
  }
}
