.shopping-bag-icon {
  height: 53px;
  width: 53px;
  position: relative;
}
.service-item {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
}
.join-us-on4,
.our-services-one {
  margin: 0;
  position: relative;
  display: inline-block;
}
.our-services-one {
  width: 228px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.join-us-on4 {
  align-self: stretch;
  height: 79px;
  font-size: var(--font-size-base);
  line-height: 31px;
  font-family: var(--font-rubik);
  color: var(--color-gainsboro-100);
  flex-shrink: 0;
}
.section-services,
.services-1 {
  width: 256px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.section-services {
  width: 1536px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) var(--padding-9xs) 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1350px) {
  .section-services {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .our-services-one {
    font-size: var(--font-size-lgi);
  }
}
