@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-rubik: Rubik;
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-base-5: 15.5px;
  --font-size-xl: 20px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;
  --font-size-2xl: 21px;
  --font-size-mid: 17px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-32xl: 51px;
  --font-size-22xl: 41px;
  --font-size-12xl: 31px;
  --font-size-6xl: 25px;
  --font-size-29xl: 48px;
  --font-size-19xl: 38px;
  --font-size-10xl: 29px;
  --font-size-mini: 15px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;
  --font-size-30xl: 49px;
  --font-size-20xl: 39px;
  --font-size-xs: 12px;
  --font-size-42xl: 61px;
  --font-size-18xl: 37px;
  --font-size-smi: 13px;

  /* Colors */
  --color-whitesmoke-100: #f4f4f4;
  --color-red-100: #ff3030;
  --color-red-200: #eb0909;
  --color-darkslategray-100: #313131;
  --color-darkslategray-200: #042c3f;
  --color-white: #fff;
  --color-darkgray-100: #a0a0a0;
  --color-darkgray-200: #979797;
  --color-darkgray-300: #959595;
  --color-gainsboro-100: #e0e0e0;
  --color-gainsboro-200: #d9d9d9;
  --color-lightgray: #cecece;
  --color-gray: #8e8e8e;
  --color-black: #000;

  /* Gaps */
  --gap-61xl: 80px;
  --gap-xl: 20px;
  --gap-21xl: 40px;
  --gap-799xl: 818px;
  --gap-185xl: 204px;
  --gap-390xl: 409px;
  --gap-83xl: 102px;
  --gap-11xs: 2px;
  --gap-lg: 18px;
  --gap-12xs: 1px;
  --gap-8xl: 27px;
  --gap-50xl: 69px;
  --gap-mid: 17px;
  --gap-15xl: 34px;
  --gap-2xl: 21px;
  --gap-24xl: 43px;
  --gap-3xs: 10px;
  --gap-18xl: 37px;
  --gap-78xl: 97px;
  --gap-29xl: 48px;
  --gap-5xl: 24px;
  --gap-11xl: 30px;
  --gap-4xl: 23px;
  --gap-base: 16px;
  --gap-7xl: 26px;
  --gap-631xl: 650px;
  --gap-143xl: 162px;
  --gap-306xl: 325px;
  --gap-62xl: 81px;
  --gap-3xl: 22px;
  --gap-lgi: 19px;
  --gap-134xl: 153px;
  --gap-19xl: 38px;
  --gap-57xl: 76px;
  --gap-47xl-5: 66.5px;
  --gap-14xl: 33px;
  --gap-138xl: 157px;
  --gap-59xl: 78px;
  --gap-20xl: 39px;
  --gap-7xs: 6px;
  --gap-46xl: 65px;
  --gap-13xl: 32px;
  --gap-4xl-5: 23.5px;
  --gap-30xl: 49px;
  --gap-32xl: 51px;
  --gap-6xl: 25px;
  --gap-39xl: 58px;
  --gap-10xl: 29px;
  --gap-9xs: 4px;

  /* Paddings */
  --padding-6xl: 25px;
  --padding-179xl: 198px;
  --padding-30xl: 49px;
  --padding-80xl: 99px;
  --padding-xl: 20px;
  --padding-12xs: 1px;
  --padding-10xs-5: 2.5px;
  --padding-2xl: 21px;
  --padding-6xs-8: 6.8px;
  --padding-4xs: 9px;
  --padding-6xs-9: 6.9px;
  --padding-base: 16px;
  --padding-5xs-3: 7.3px;
  --padding-lg: 18px;
  --padding-16xl: 35px;
  --padding-2xs: 11px;
  --padding-sm: 14px;
  --padding-184xl: 203px;
  --padding-158xl: 177px;
  --padding-181xl: 200px;
  --padding-31xl: 50px;
  --padding-96xl: 115px;
  --padding-81xl: 100px;
  --padding-82xl: 101px;
  --padding-56xl: 75px;
  --padding-37xl: 56px;
  --padding-40xl: 59px;
  --padding-77xl: 96px;
  --padding-29xl: 48px;
  --padding-5xs: 8px;
  --padding-118xl: 137px;
  --padding-180xl: 199px;
  --padding-156xl: 175px;
  --padding-39xl: 58px;
  --padding-55xl: 74px;
  --padding-70xl: 89px;
  --padding-95xl: 114px;
  --padding-124xl: 143px;
  --padding-817xl-9: 836.9px;
  --padding-320xl: 339px;
  --padding-59xl: 78px;
  --padding-66xl: 85px;
  --padding-23xl: 42px;
  --padding-201xl: 220px;
  --padding-32xl: 51px;
  --padding-11xs: 2px;
  --padding-36xl: 55px;
  --padding-9xs: 4px;
  --padding-128xl: 147px;
  --padding-8xs-5: 4.5px;
  --padding-14xl: 33px;
  --padding-209xl: 228px;
  --padding-129xl: 148px;
  --padding-489xl: 508px;
  --padding-311xl: 330px;
  --padding-78xl: 97px;
  --padding-106xl: 125px;
  --padding-90xl: 109px;
  --padding-8xl: 27px;
  --padding-44xl: 63px;
  --padding-62xl: 81px;
  --padding-35xl: 54px;
  --padding-8xs: 5px;
  --padding-353xl: 372px;
  --padding-138xl: 157px;
  --padding-223xl: 242px;
  --padding-32xl-5: 51.5px;
  --padding-12xl: 31px;
  --padding-10xl: 29px;
  --padding-4xs-5: 8.5px;
  --padding-146xl: 165px;
  --padding-183xl: 202px;
  --padding-276xl: 295px;
  --padding-51xl: 70px;
  --padding-88xl: 107px;
  --padding-173xl: 192px;
  --padding-7xs: 6px;
  --padding-xs-5: 11.5px;
  --padding-7xl: 26px;
  --padding-11xl: 30px;
  --padding-sm-5: 13.5px;
  --padding-6xs: 7px;
}
